diffusers
accelerate>=0.16.0
torchvision
transformers>=4.25.1
ftfy
tensorboard
datasets>=2.19.1
Jinja2
peft==0.7.0

git+https://github.com/VladimirYugay/simple-knn.git@c7e51a06a4cd84c25e769fee29ab391fe5d5ff8d